.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border: solid 2px #bbb;
  line-height: 1.25;
  font-size: 1em;
  font-weight: bold;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}

.Button:hover,
.Button:active,
.Button:focus {
  background-color: #ddd;
  border-color: #9ab7d3;
}
