.Navbar {
  height: 3.6875rem;
  background-color: #fff;
}

.Navbar-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

.Navbar-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'logo toggler'
    'nav nav';
}

.Navbar-logo {
  display: block;
  border-radius: 50%;
  font-family: Inconsolata, Menlo, Consolas, monospace;
  font-weight: bold;
  text-align: center;
  grid-area: logo;
  justify-self: start;
}

.Navbar-nav {
  background-color: #fff;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.2s ease-in, transform 0.3s ease-in;
  grid-area: nav;
}

.Navbar-nav-expanded {
  opacity: 1;
  transform: scaleY(1);
}

.Navbar-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Navbar-link {
  display: block;
}

.Navbar-link > a {
  display: block;
  border: 0;
  padding: 1rem 0.5rem;
  color: #333;
  font-weight: normal;
}

.Navbar-link > a:active,
.Navbar-link > a:focus,
.Navbar-link > a:hover {
  background-color: #eee;
}

.Navbar-link-active > a {
  font-weight: bold;
}

.Navbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.5625rem 0;
  border: solid 1px transparent;
  color: #fff;
  background-color: #333;
  transition: background-color 0.3s ease-in;
}

.Navbar-btn:hover,
.Navbar-btn:active,
.Navbar-btn:focus {
  background-color: #fff;
  color: #333;
  border: solid 2px #333;
}

.Navbar-toggler {
  font-size: 1.25rem;
  line-height: 1;
  font-family: inherit;
  border: none;
  cursor: pointer;
  margin: 0.5625rem 0;
  grid-area: toggler;
  justify-self: end;
}

.Navbar-toggler:active,
.Navbar-toggler:focus,
.Navbar-toggler:hover {
  outline: 0;
}

@media (min-width: 400px) {
  .Navbar-nav {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .Navbar-link > a {
    padding: 1rem;
  }
}

@media (min-width: 600px) {
  .Navbar-toggler {
    display: none;
  }

  .Navbar-container {
    grid-template-areas: 'logo nav';
  }

  .Navbar-nav {
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .Navbar-list {
    flex-direction: row;
    justify-content: flex-end;
  }

  .Navbar-link > a {
    padding-bottom: 0.875rem;
  }

  .Navbar-link > a:active,
  .Navbar-link > a:focus,
  .Navbar-link > a:hover {
    background-color: unset;
    border-bottom: solid 2px #333;
  }

  .Navbar-link-active > a {
    border-bottom: solid 2px #333;
  }
}
