.WorkItem {
  background-color: #fff;
  padding-bottom: 1rem;
  margin: 1rem 0;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.WorkItem-image {
  padding: 0.5rem;
}

.WorkItem:nth-of-type(4n + 1) .WorkItem-image {
  background-color: #8fbcbb;
}
.WorkItem:nth-of-type(4n + 2) .WorkItem-image {
  background-color: #a3be8b;
}
.WorkItem:nth-of-type(4n + 3) .WorkItem-image {
  background-color: #b48dac;
}
.WorkItem:nth-of-type(4n) .WorkItem-image {
  background-color: #eacb8a;
}

.WorkItem-image > img {
  width: 100%;
}

.WorkItem-title,
.WorkItem-description {
  padding: 0 1rem;
}

.WorkItem-links {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* opacity: 0; */
  /* transition: opacity 0.3s ease-in; */
}

.WorkItem:hover .WorkItem-links,
.WorkItem .WorkItem-links:focus-within {
  /* opacity: 1; */
}

.WorkItem-link {
  display: flex;
}

.WorkItem-link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: solid 1px #ddd;
  font-family: Inconsolata, Menlo, Consolas, monospace;
  transition: background-color 0.3s ease-in;
  /* min-width: 6.25rem; */
  /* color: #fff; */
  /* border: solid 1px #fff; */
  /* font-size: 1.25em; */
  /* font-weight: normal; */
}

.WorkItem-link-visit > a::before {
  content: '👀 ';
}
.WorkItem-link-source > a::before {
  content: '💻 ';
}

.WorkItem-link > a:hover,
.WorkItem-link > a:focus,
.WorkItem-link > a:active {
  background-color: #ddd;
  /* background-color: #fff;
  color: #333;
  font-weight: bold; */
}
