.About {
  display: flex;
  background-color: #f5d2d3;
}

.About-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About-heading {
  padding-top: 3.6875rem;
}

.About-console {
  position: relative;
  margin: 1.25rem 0 3.6875rem;
  padding: 1rem;
  width: 100%;
  max-width: 690px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.875rem;
  color: #d8dee8;
  background-color: #2e3340;
  border: 1px solid transparent;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.About-console::before {
  content: '';
  position: absolute;
  top: -1.25rem;
  left: -1px;
  display: block;
  width: calc(100% + 2px);
  height: 1.25rem;
  background-image: linear-gradient(to top, #d6d6d6 0%, #ebebeb 1.5rem);
  border: 1px solid transparent;
  border-bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.About-console > p {
  margin: 0;
}

.About-console-input,
.About-console-output {
  position: relative;
  margin-left: 1rem;
}
.About-console-input::before {
  content: '›';
  color: #a3be8b;
  position: absolute;
  left: -1rem;
}

.About-console-output {
  margin-bottom: 1em;
}
.About-console-output:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .About-console {
    font-size: 1rem;
    box-shadow: 0 20px 70px rgba(0, 0, 0, 0.55);
  }
}
