.Contact {
  display: flex;
  background-color: #dfccf1;
}

.Contact-form {
  max-width: 690px;
  margin: 0 auto;
  padding: 1rem 0;
}

.Contact-label {
  display: block;
  width: 100%;
}

.Contact-field,
.Contact-body {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0 1rem;
  border: solid 2px #bbb;
  font-family: inherit;
  font-size: 1em;
  transition: border-color 0.1s ease-in;
}

.Contact-field:hover,
.Contact-field:active,
.Contact-field:focus,
.Contact-body:hover,
.Contact-body:active,
.Contact-body:focus {
  border-color: #999;
}

.Contact-body {
  min-height: 10rem;
  max-width: 100%;
}

.Contact-submit {
  margin: 2rem auto 1rem;
}

.Contact-hidden {
  display: none;
}
